* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 60px;
}

.container-fluid > a {
    color: white;
}

/* Logo in the Navbar */

.logo-in-nav {
    margin: 0 auto;
    border-radius: 8px;

    width: 20px;
    height: 20px;
}

main {
    margin: 60px 0 100px 0;

    width: 100vw;
    height: 100vh;
}

/* Knight Cloud Solutions Image */
.main-logo {
    width: 100vw;
    height: calc(100vh - 160px);
    object-fit: fill;
}

#main-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Page Statement */
.statement-wrapper {
    text-align: center;

    margin-top: 20px;
}

.statement-wrapper > p {
    color: white;
}

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: black;
    color: white;

    width: 100vw;
    height: 100px;

    text-align: center;
}

.footer-logo {
    margin-top: 10px;

    width: 50px;
    height: 50px;
}

.footer-logo:hover {
    border: 1px solid white;
}